ul{
    list-style-type: none; /* Verwijdert standaard opsommingstekens (bolletjes) van de lijst */
    margin: 13; /* Zet de marge rondom de lijst op 13px */
    padding: 1em; /* Voegt 1em ruimte toe aan de binnenkant van de lijst */
    overflow: hidden; /* Verbergt alles wat buiten de lijst valt */
    background-image: url(website\ background.jpg); /* Zoekt de image background.jpg op  */
    background-size: cover; /* Zorgt ervoor dat de afbeelding de hele achtergrond bedekt */
    background-position: center; /* Plaats de afbeelding in het midden van het scherm */
    background-repeat: no-repeat; /* Voorkomt herhaling van de achtergrondafbeelding */
   
    }
li {
    float: left;
}
li a {
    display: block;
    color: burlywood;
    text-align: center;
    padding: 16px 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: solid;
    font-size: 16px;
}
li a:hover {
    color: aqua;
    font-weight: bold;
}
