ul{
    list-style-type: none;
    margin: 13;
    padding: 1em;
    overflow: hidden;
    background-image: url(website\ background.jpg); 
    background-size: cover; /* Zorgt ervoor dat de afbeelding de hele achtergrond bedekt */
    background-position: center; /* Plaats de afbeelding in het midden van het scherm */
    background-repeat: no-repeat; /* Voorkomt herhaling van de achtergrondafbeelding */
   
    }
li {
    float: left;
}
li a {
    display: block;
    color: burlywood;
    text-align: center;
    padding: 16px 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: solid;
    font-size: 16px;
}
li a:hover {
    color: aqua;
    font-weight: bold;
}
