ul{
    list-style-type: none; /* Verwijdert standaard opsommingstekens (bolletjes) van de lijst */
    margin: 13; /* Zet de marge rondom de lijst op 13px */
    padding: 1em; /* Voegt 1em ruimte toe aan de binnenkant van de lijst */
    overflow: hidden; /* Verbergt alles wat buiten de lijst valt */
    background-image: url(website\ background.jpg); /* Zoekt de image background.jpg op  */
    background-size: cover; /* Zorgt ervoor dat de afbeelding de hele achtergrond bedekt */
    background-position: center; /* Plaats de afbeelding in het midden van het scherm */
    background-repeat: no-repeat; /* Voorkomt herhaling van de achtergrondafbeelding */
   
    }
li {
    float: left; /* Laat de lijstitems naast elkaar zweven in plaats van onder elkaar */
}
li a {
    display: block; /* Zorgt ervoor dat de anker (a) een blokelement wordt, zodat het de volledige ruimte van het lijstitem inneemt */
    color: burlywood; /* Zet de tekstkleur van de links op burlywood */
    text-align: center; /* Centreert de tekst binnen de links */
    padding: 16px 18px; /* Voegt 16px ruimt onder en boven toe. Ook voegt het 18px ruimte toe aan de  linker- en rechterkant */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Bepaalt de lettertypefamilie voor de tekst */
    font-size: 16px; /* Stelt de lettergrootte in op 16px */
}
li a:hover {
    color: aqua; /* Wanneer je met je muis over de tekst gaat wordt de kleur blauw */
    font-weight: bold; /* Wanneer je met je muis over de tekst gaat wordt de tekst dikgedrukt */
}
